.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-control-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 5px 0;
}

.form-control-container>div {
  color: var(--global-primary-color);
  font-size: 15px;
}

.form-control {
  padding: 8px 0;
  border-radius: var(--global-radius);
  border: var(--global-border);
}

.auth-container button {
  transition: all 0.3s ease-out;
  background-color: var(--global-primary-color);
  border-radius: var(--global-radius);
  border: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: white;
  color: var(--global-primary-color);
  border: 1px solid var(--global-primary-color);
}

@media screen and (min-width: 600px) {
  .auth-container {
    background-color: var(--global-bg-color-soft);
  }

  .container-form {
    border: var(--global-border);
    width: 400px;
    border-radius: var(--global-radius);
    background-color: white;
  }
}