@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

.container {
  font-family: "nunito", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-control-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding: 5px 0;
}

.form-control {
  padding: 8px 0;
}

@media screen and (min-width: 600px) {
  .container {
    background-color: #fafafa;
  }

  .container-form {
    border: 1px solid #999;
    width: 400px;
    border-radius: 8px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 45px 10px 0px;
    background-color: white;
  }
}